# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Scipy

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
10 + 5

15

In [3]:
20 / 4 - 2

3.0

In [4]:
(7 + 3) * 2

20

In [5]:
12 % 5

2

In [6]:
3 ** 4

81

 This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- simple arithmetic expression to mutiply then add integers
- H3 style heading
- table of Data Science tools
- list data science libraries
- list data science languages
- markdown cell for an introduction

## Author
Kamalkishor Roj